version: '3.8'

services:
  mysql:
    image: mysql:8.4
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: social-network
    ports:
      - "9306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  app:
    image: hoank174/social-network-app:latest
    container_name: social-app
    restart: always
    depends_on:
      - mysql
    ports:
      - "9090:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/social-network
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root

volumes:
  mysql-data: